{% extends 'base.html' %}
{% load static %}

{% block title %}Bootshop online Shopping cart{% endblock %}

{% block content %}

<!-- Sidebar ================================================== -->
{% include 'inc/_sidebar.html' %}
<!-- Sidebar end=============================================== -->

<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Login</li>
    </ul>
	<h3> Login</h3>	
	<hr class="soft"/>
	
	<div class="row">
		<div class="span4">
			<div class="well">
			<h5>Login <br> {{ attention }}</h5>
			<form method="POST" action="{% url 'login' %}">
				{% csrf_token %}
			{% for error in login_form.non_field_errors %}
					{{ error }} <br>
			{% endfor %}
			  <div class="control-group">
				<label class="control-label" for="id_username">Username</label>
				<div class="controls">
				  <input class="span3" id="id_username" type="text" id="inputEmail1" placeholder="Username" name="username">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="id_password">Password</label>
				<div class="controls">
				  <input type="password" class="span3"  id="id_password" placeholder="Password" name="password">
				</div>
			  </div>
			  <div class="control-group">
				<div class="controls">
				  <button type="submit" class="btn">Sign in</button> <a href="forgetpass.html">Forget password?</a>
				</div>
			  </div>
			</form>
		</div>
		</div>
	</div>	
	
</div>
</div></div>
</div>
<!-- MainBody End ============================= -->
{% endblock content %}
