{% extends 'base.html' %}
{% load static %}

{% block title %}Bootshop online Shopping cart{% endblock %}

{% block content %}


<!-- Sidebar ================================================== -->
{% include 'inc/_sidebar.html' %}
<!-- Sidebar end=============================================== -->

<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Registration</li>
    </ul>
	<h3> Registration</h3>	
	<div class="well">

	<form class="form-horizontal" method="POST" action="{% url 'register' %}">
		{% csrf_token %}
		<h4>Your personal information</h4>
		{% for field in user_form %}
		{% if  field.errors %}
		<div class="alert alert-block alert-error fade in">
			<strong>{{ field.errors }}</strong>
		</div>
		{% endif %}
		<div class="control-group">
			{{ field.label_tag }}
			{{ field }}
		</div>	  
		{% endfor %}	

	<div class="control-group">
			<div class="controls">
				<input type="hidden" name="email_create" value="1">
				<input type="hidden" name="is_new_customer" value="1">
				<input class="btn btn-large btn-success" type="submit" value="Register" />
			</div>
		</div>		
	</form>
</div>

</div>
</div>
</div>
</div>
<!-- MainBody End ============================= -->


{% endblock content %}